<div class="menu">
<h2 class="l-bln-mg-btm-1 l-bln-mg-top-1"><%= @pro2.name  %> </h2>
<h4><%= @pro2.notes  %></h4>
							<% @tasks2.each do |task2| %> 
								<td>
									<% if task2.name == 'QA In Progress:'  %>
									<% elsif task2.name == 'QA in Progress:' %>
									<% elsif task2.name == 'Ready for QA:' %>
									<% elsif task2.name == 'Ready For QA:' %>
									<% elsif task2.name == 'Not Started:' %>
									<% elsif task2.name == 'In Progress:' %>
									<% elsif task2.name == 'Blocked:' %>
									<% elsif task2.name == 'Ready for Code Review:' %>
									<% elsif task2.name == 'Stories:' %>
									<% elsif task2.name == 'Retro Deltas:' %>
									<% elsif task2.completed == true %>
									<img src="/assets/orange-check-mark.png" alt="true" width="15" height="15">  
									<% elsif task2.completed == false %>
									<img src="/assets/black_x.png" alt="false" width="15" height="15">   
									<% end %>
								</td>
							<% end %>
</div>

