<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js">
</script>
<script type="text/javascript">

$.ajax({
  url: "public/graph2",
  success: function(html){
    $("#graph2").append(html);
  }
});

$.ajax({
  url: "public/graph3",
  success: function(html){
    $("#graph3").append(html);
  }
});

</script>

<header class="l-clr">
  <meta http-equiv="refresh" content="1000">
  <nav id="secondary-nav" class="l-clr">
    <ul class="m-nav m-lgo l-left l-clr">
      <li><a href="#">National Collegiate Scouting Association</a></li>
      <li class="m-lgo-tagline">Athletic Recruiting : Software Development Team</li>
    </ul>

    <div id="mobile_menu" class="mobile-show-wide l-right" style="display:none;">
      <span class="f-pictos f-medium">l</span>
    </div>

    <ul class="l-right m-nav m-nav-padded">
      <li><a href="/public/admin">Add Sprint</a></li>
      <li><a href="/public/admin">Update Team</a></li>
      <li last-child><a href="/public/admin">Update Current Sprint</a></li>
    </ul>
  </nav>
</header>

<section class="main l-clr">

<div class="dashboard verified l-col-4 l-left">
    <h4>Developer Sprint:</h4>
    <div id="graph2">&nbsp;</div>
</div>	

<div class="dashboard verified l-col-5 l-right l-clr">
    <h4>Front-End Sprint:</h4>
    <div id="graph3">&nbsp;</div>
</div>

</section>

<footer>
	<div style="clear:both"></div>
</footer>

